# Dependencies
/node_modules
/client/node_modules

# Environment variables
.env
/config/.env

# Production build
/client/build

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db